---
import SubHeader from "$components/Layout/SubHeader.astro"
import NavGrid from "$components/Layout/NavGrid.astro"
import {
	getLocalizedPath,
	useTranslations,
	type SupportedLocale,
} from "$utils/i18n"
import { getGuides } from "$utils/content"
import { addAbbrs } from "$utils/helpers"

interface Props {
	locale: SupportedLocale
	user?: {
		platform: "psn" | "xbox"
		name: string
	}
}
const { locale, user } = Astro.props
const t = useTranslations(locale)

const guides = await getGuides(locale)
const items = [
	...guides.types.map((guide) => ({
		dataCard: "tracker",
		title: addAbbrs(guide.name),
		html: true,
		subtitle:
			guide.areas.length > 1
				? `${guide.areas.length} ${t("t-places")}`
				: guide.areas.length == 1
					? guide.areas[0].name
					: null,
		subtitleStyle: "smcp" as const,
		href: getLocalizedPath(
			locale,
			user
				? `/user/${user.platform}/${user.name}/tracker/${guide.slug}`
				: `/tracker/${guide.slug}`,
		),
	})),
	user
		? {
				dataCard: "tracker",
				title: t("Bonus tracker"),
				html: true,
				href: getLocalizedPath(
					locale,
					`/user/${user.platform}/${user.name}/tracker/bonuses`,
				),
			}
		: {
				title: t("Bonus tracker"),
				html: true,
				subtitle: t("Must be logged in"),
				disabled: true,
			},
]
---

<SubHeader title={t("Tracker")} />
<div class="mx-4">
	<NavGrid {items} class="m-auto my-12 max-w-3xl sm:grid-cols-3" />
</div>
