---
import UserEmblem from "$components/UserEmblem.astro"
import playstation from "$images/icons/playstation.svg?raw"
import xbox from "$images/icons/xbox.svg?raw"
import { validateCookie } from "$utils/helpers"
import { useTranslations, type SupportedLocale } from "$utils/i18n"
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
	locale: SupportedLocale
}
const { locale } = Astro.props
const t = useTranslations(locale)

const tryCookie = Astro.cookies.get("grimoireLogin")
const cookie = validateCookie(tryCookie?.json())
if (tryCookie && !cookie) {
	console.warn("Deleting invalid cookie:", cookie)
	Astro.cookies.delete("grimoireLogin", { path: "/" })
}
---

{
	cookie ? (
		<>
			<UserEmblem
				{locale}
				membershipType={cookie.membershipType}
				membershipId={cookie.membershipId}
				username={cookie.username}
			/>
			<a
				href={getRelativeLocaleUrl(locale, "/logout")}
				class="text-center text-xs font-medium leading-[28px] text-slate-400 transition hover:text-slate-500"
			>
				{t("switch-user")}
			</a>
		</>
	) : (
		<form
			action={getRelativeLocaleUrl(locale, "/login")}
			method="post"
			class="flex flex-col gap-2"
		>
			<div class="flex justify-center gap-1">
				<label class="cursor-pointer rounded-md border border-r-0 border-slate-50 px-2 py-1 text-center text-slate-400 transition hover:bg-slate-200 hover:text-slate-500 group-hover:border-slate-400">
					<input
						type="checkbox"
						name="platform"
						class="peer hidden"
					/>
					<div
						class="inline-block align-text-bottom peer-checked:hidden"
						set:html={playstation}
					/>
					<div
						class="hidden align-text-bottom peer-checked:inline-block"
						set:html={xbox}
					/>
				</label>
				<input
					type="text"
					name="username"
					placeholder={t("username")}
					autofocus
					required
					class="w-[16ch] rounded-md bg-slate-100 px-4 py-2 text-base font-medium text-slate-500 shadow-inner ring-slate-400 transition focus:outline-none focus:ring-2"
				/>
			</div>
			<input
				type="submit"
				value={t("login")}
				class="cursor-pointer rounded-md bg-slate-200/60 px-4 py-[10px] font-medium text-slate-400 transition hover:bg-slate-200 hover:text-slate-500"
			/>
		</form>
	)
}
{
	cookie ? (
		<hr class="my-4 w-8 border-t-2 border-slate-200" />
	) : (
		<p class="mt-8 text-center text-xs text-slate-400">{t("no-account")}</p>
	)
}
