---
export const prerender = false

import Layout from "$layouts/Layout.astro"
import {
	getMembershipId,
	getUserGrimoire,
	getUserSummary,
} from "$utils/helpers"

const { platform, username } = Astro.params
if (platform != "psn" && platform != "xbox" && !username)
	return Astro.redirect("/404")
const membershipType = platform == "xbox" ? 1 : 2
const membershipId = await getMembershipId(membershipType, username!)
if (!membershipId) return Astro.redirect("/404")

const userGrimoire = await getUserGrimoire(membershipType, membershipId)
if (!userGrimoire) return Astro.redirect("/404")

const summary = await getUserSummary(membershipType, membershipId)
const bestCharacter = summary.characters.sort(
	(a: any, b: any) => b.characterBase.powerLevel - a.characterBase.powerLevel,
)[0]
---

<Layout title={`Escouade de ${username}`} description="">
	<div class="m-12">
		<div class="relative flex h-[48px]">
			<img src={`https://www.bungie.net${bestCharacter.emblemPath}`} />
			<img
				src={`https://www.bungie.net${bestCharacter.backgroundPath}`}
			/>
			<div
				class="absolute left-12 top-0 flex h-full flex-col justify-center px-2 text-base font-semibold leading-tight text-slate-50 drop-shadow"
			>
				<div>{username}</div>
				<div class="pb-[1px] text-xs font-semibold">
					{userGrimoire.cardCollection.length} cartes // {
						userGrimoire.score
					} points
				</div>
			</div>
		</div>
	</div>
</Layout>
