---
export const prerender = false

import Layout from "$layouts/Layout.astro"
import { getCards, getThemes } from "$utils/content"
import {
	getMembershipId,
	getUserGrimoire,
	parseParamsWithUser,
} from "$utils/helpers"
import Grimoire from "$components/Grimoire/Grimoire.astro"
import { useTranslations } from "$utils/i18n"
import SubHeader from "$components/Layout/SubHeader.astro"
import UserIconFallback from "$components/User/UserIconFallback.astro"
import UserIcon from "$components/User/UserIcon.astro"

const { locale, platform, username } = parseParamsWithUser(Astro.params)
if (!locale) return new Response("Not found", { status: 404 })

const t = useTranslations(locale)
const themes = await getThemes(locale)
const cards = await getCards(locale)

if ((platform != "psn" && platform != "xbox") || !username)
	return new Response("Not found", { status: 404 })
const membershipType = platform == "xbox" ? 1 : 2
const membershipId = await getMembershipId(membershipType, username)
if (!membershipId) return new Response("Not found", { status: 404 })

const userGrimoire = await getUserGrimoire(membershipType, membershipId)
if (!userGrimoire) return new Response("Not found", { status: 404 })
const showSpoilers = Astro.cookies.get("grimoireShowSpoilers")?.value === "true"
---

<Layout
	title={`${username} · Destiny Grimoire Cards · The Grimoire Archive`}
	description={`${userGrimoire.cardCollection.length} ${t("cards")} // ${userGrimoire.score} ${t("points")}`}
	noindex
	onGrimoireHomePage
	userInPath={{
		membershipType,
		membershipId,
		name: username,
	}}
>
	<SubHeader title={t("grimoire-cards")}>
		<div slot="subtitle">
			<div>
				{t("g-Collection of")}
				<UserIcon server:defer {membershipType} {membershipId}>
					<UserIconFallback slot="fallback" />
				</UserIcon>
				{username} // {userGrimoire.cardCollection.length}
				{t("cards")} // {userGrimoire.score}
				{t("points")}
			</div>
			<label
				class="mt-1 flex cursor-pointer items-center gap-2 text-slate-500"
			>
				<input
					id="show-unobtained-cards"
					type="checkbox"
					checked={showSpoilers}
					class="h-3 w-3 accent-slate-600"
				/>
				<span>{t("show-unobtained-cards")}</span>
			</label>
		</div>
	</SubHeader>
	<div class="mr-2 ml-10 sm:mr-4">
		<div class="m-auto mt-10 mb-12 max-w-6xl">
			<Grimoire
				{themes}
				{cards}
				{userGrimoire}
				{membershipType}
				{username}
				{showSpoilers}
			/>
		</div>
	</div>
</Layout>

<script>
	import Cookies from "js-cookie"

	document
		.getElementById("show-unobtained-cards")
		?.addEventListener("change", (event) => {
			if (!(event.currentTarget instanceof HTMLInputElement)) return
			Cookies.set(
				"grimoireShowSpoilers",
				String(event.currentTarget.checked),
				{
					path: "/",
				},
			)
			window.location.reload()
		})
</script>
