---
import { membershipTypeToPath } from "$utils/helpers"
import { checkLocale } from "$utils/i18n"
import type { CollectionEntry } from "astro:content"
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
	card: CollectionEntry<"cards">["data"][string]
	themeTitle?: string
	next?: boolean
	user?: {
		membershipType: 1 | 2
		name: string
	}
}

const { card, themeTitle, next, user } = Astro.props
const locale = checkLocale(Astro.currentLocale)
---

<a
	href={getRelativeLocaleUrl(
		locale,
		user
			? `/user/${membershipTypeToPath(user.membershipType)}/${user.name}/${card.cardId}`
			: `/${card.cardId}`,
	)}
	class:list={[
		"flex items-center gap-4 leading-snug",
		{ "col-start-2 flex-row-reverse text-right": next },
	]}
>
	<img
		width={323}
		height={419}
		class="h-16 w-auto rounded-sm bg-slate-400 shadow-sm"
		src={"https://www.bungie.net" + card.highResolution.image.sheetPath}
	/>
	<div>
		{
			themeTitle && (
				<div class="font-smcp text-slate-400" set:html={themeTitle} />
			)
		}
		<div set:html={card.cardName} />
	</div>
</a>
