---
import { membershipTypeToPath } from "$utils/helpers"
import type { CollectionEntry } from "astro:content"

interface Props {
	card: CollectionEntry<"cards">["data"][string]
	themeTitle?: string
	next?: boolean
	user?: {
		membershipType: 1 | 2
		name: string
	}
}

const { card, themeTitle, next, user } = Astro.props
---

<a
	href={user
		? `/${membershipTypeToPath(user.membershipType)}/${user.name}/${card.cardId}`
		: `/${card.cardId}`}
	class:list={[
		"flex gap-4 items-center leading-snug",
		{ "flex-row-reverse text-right col-start-2": next },
	]}
>
	<img
		class="shadow-sm rounded-sm h-16"
		src={"https://www.bungie.net" + card.highResolution.image.sheetPath}
	/>
	<div>
		{
			themeTitle && (
				<div class="text-slate-400 font-smcp" set:html={themeTitle} />
			)
		}
		<div set:html={card.cardName} />
	</div>
</a>
