---
import { cardImageStyle, membershipTypeToPath } from "$utils/helpers"
import type { CollectionEntry } from "astro:content"

interface Props {
	card: CollectionEntry<"cards">["data"][string]
	membershipType?: 1 | 2
	username?: string
}

const { card, membershipType, username } = Astro.props
---

<a
	href={membershipType && username
		? `/${membershipTypeToPath(membershipType)}/${username}/${card.cardId}`
		: `/${card.cardId}`}
	class="aspect-card shadow hover:shadow-xl rounded-sm transition duration-300 ease-out hover:scale-105 px-3 sm:px-4 md:px-5 py-3 md:py-[17px] flex flex-col justify-end overflow-hidden relative"
>
	<img
		src={"https://www.bungie.net" + card.normalResolution.image.sheetPath}
		alt="Illustration de carte"
		class="absolute object-fill bg-slate-400"
		loading="lazy"
		decoding="async"
		style={cardImageStyle(card.normalResolution.image)}
	/>
	<h3
		class="font-semibold text-slate-100 text-xs sm:text-sm lg:text-base lg:leading-snug text-balance z-10"
		style={{ textShadow: "0 0 0.1em #000" }}
		set:html={card.cardName}
	/>
</a>
