---
export const prerender = false

import Layout from "$layouts/Layout.astro"
import { getMembershipId, getUserGrimoire, themes, cards } from "$utils/helpers"
import Grimoire from "$components/Grimoire.astro"
import Header from "$components/Header.astro"
import Footer from "$components/Footer.astro"
import FooterFallback from "$components/FooterFallback.astro"

const { platform, username } = Astro.params
if (platform != "psn" && platform != "xbox" && !username)
	return Astro.redirect("/404")
const membershipType = platform == "xbox" ? 1 : 2
const membershipId = await getMembershipId(membershipType, username!)
if (!membershipId) return Astro.redirect("/404")

const userGrimoire = await getUserGrimoire(membershipType, membershipId)
if (!userGrimoire) return Astro.redirect("/404")
---

<Layout
	title={`Grimoire de ${username}`}
	description={`${userGrimoire.cardCollection.length} cartes // ${userGrimoire.score} points`}
>
	<Header
		h1={username!}
		subtitle={`${userGrimoire.cardCollection.length} cartes // ${userGrimoire.score} points`}
		bonus={`/${platform}/${username}/bonuses`}
	/>
	<div class="mr-2 sm:mr-4 ml-10">
		<div class="mb-12 mt-10 m-auto max-w-6xl">
			<Grimoire
				themes={themes}
				cards={cards}
				userGrimoire={userGrimoire}
				membershipType={membershipType}
				username={username}
			/>
		</div>
	</div>
	<Footer
		server:defer
		pathname={Astro.url.pathname}
		onGrimoirePage
		pathUser={{
			membershipType,
			membershipId,
			username: username!,
		}}
	>
		<FooterFallback slot="fallback" />
	</Footer>
</Layout>
