---
import Footer, { type FooterProps } from "$components/Footer.astro"
import FooterFallback from "$components/FooterFallback.astro"
import Header from "$components/Header.astro"
import { checkLocale } from "$utils/i18n"
import "$styles/fonts.css"
import "@fontsource/eb-garamond/700.css"

type Props = {
	title: string
	description: string
	contentHeightScreen?: boolean
} & FooterProps
const { title, description, contentHeightScreen, ...footerProps } = Astro.props
const pathname = Astro.url.pathname
const locale = checkLocale(Astro.currentLocale)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta property="og:site_name" content="Cryptarch’s Vault" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#e2e8f0" />
		<title>{title}</title>
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
	</head>
	<body class="bg-slate-50 font-sans text-slate-950">
		<div class="flex min-h-screen flex-col justify-between">
			<div
				class:list={{
					"flex min-h-screen flex-col": contentHeightScreen,
				}}
			>
				<Header />
				<slot />
			</div>
			<Footer server:defer {locale} {pathname} {...footerProps}>
				<FooterFallback slot="fallback" />
			</Footer>
		</div>
	</body>
</html>
