---
import { Image } from "astro:assets"
import { getCardImage } from "$utils/card-images"
import { membershipTypeToPath } from "$utils/helpers"
import {
	getLocaleFromPathname,
	getLocalizedPath,
	useTranslations,
} from "$utils/i18n"
import type { CollectionEntry } from "astro:content"

interface Props {
	card: CollectionEntry<"cards">["data"][string]
	themeTitle?: string
	next?: boolean
	isObscured?: boolean
	user?: {
		membershipType: 1 | 2
		name: string
	}
}

const { card, themeTitle, next, user, isObscured = false } = Astro.props
const locale = getLocaleFromPathname(Astro.url.pathname) || "en"
const t = useTranslations(locale)
const cardImage = getCardImage(card.cardId, card.highResolution.image.sheetPath)
---

<a
	href={getLocalizedPath(
		locale,
		user
			? `/user/${membershipTypeToPath(user.membershipType)}/${user.name}/${card.cardId}`
			: `/${card.cardId}`,
	)}
	class:list={[
		"flex items-center gap-4 leading-snug",
		{
			"col-start-2 flex-row-reverse text-right": next,
			"opacity-60 grayscale": isObscured,
		},
	]}
>
	<Image
		src={cardImage}
		alt={t("card-illustration-alt")}
		class="h-16 w-auto rounded-[1.5px] bg-slate-400 shadow-sm"
		height={128}
	/>
	<div>
		{
			themeTitle && (
				<div class="font-smcp text-slate-400" set:html={themeTitle} />
			)
		}
		<div class="text-balance" set:html={card.cardName} />
	</div>
</a>
