---
import type { UserGrimoire } from "$utils/types"
import type { CollectionEntry } from "astro:content"
import CardNavLink from "./CardNavLink.astro"

interface Props {
	cardId: number
	cards: CollectionEntry<"cards">["data"]
	themes: CollectionEntry<"grimoire">["data"]["themeCollection"]
	user?: {
		membershipType: 1 | 2
		name: string
		grimoire: UserGrimoire
	}
	useStaticImages?: boolean
}

const { cardId, cards, themes, user, useStaticImages = false } = Astro.props

const userCardIds = new Set(
	user?.grimoire.cardCollection.map((card) => card.cardId),
)

const data = themes.flatMap((theme) =>
	theme.pageCollection.flatMap((page) =>
		page.cardBriefs.map((brief) => ({
			theme: theme.themeName,
			page: page.pageName,
			card: cards[brief.cardId],
		})),
	),
)

const defaultData = user
	? data.filter((entry) => userCardIds.has(Number(entry.card.cardId)))
	: data

const getNavData = (entries: typeof data) => {
	const currentIndex = entries.findIndex(
		(entry) => entry.card.cardId === cardId,
	)
	return {
		currentEntry: entries[currentIndex],
		previousEntry: entries[currentIndex - 1],
		nextEntry: entries[currentIndex + 1],
	}
}

const defaultNav = getNavData(defaultData)
const spoilerNav = getNavData(data)
---

{
	user ? (
		<div
			data-spoiler-default
			class="col-span-3 mt-12 grid grid-cols-2 items-center gap-x-4 gap-y-10 border-t border-slate-200 pt-10 font-serif"
		>
			{defaultNav.currentEntry && defaultNav.previousEntry && (
				<CardNavLink
					card={defaultNav.previousEntry.card}
					user={user}
					themeTitle={
						defaultNav.previousEntry.theme !=
						defaultNav.currentEntry.theme
							? defaultNav.previousEntry.theme
							: undefined
					}
					{useStaticImages}
				/>
			)}
			{defaultNav.currentEntry && defaultNav.nextEntry && (
				<CardNavLink
					card={defaultNav.nextEntry.card}
					user={user}
					themeTitle={
						defaultNav.nextEntry.theme !=
						defaultNav.currentEntry.theme
							? defaultNav.nextEntry.theme
							: undefined
					}
					next
					{useStaticImages}
				/>
			)}
		</div>
	) : (
		<div class="col-span-3 mt-12 grid grid-cols-2 items-center gap-x-4 gap-y-10 border-t border-slate-200 pt-10 font-serif">
			{defaultNav.currentEntry && defaultNav.previousEntry && (
				<CardNavLink
					card={defaultNav.previousEntry.card}
					themeTitle={
						defaultNav.previousEntry.theme !=
						defaultNav.currentEntry.theme
							? defaultNav.previousEntry.theme
							: undefined
					}
					{useStaticImages}
				/>
			)}
			{defaultNav.currentEntry && defaultNav.nextEntry && (
				<CardNavLink
					card={defaultNav.nextEntry.card}
					themeTitle={
						defaultNav.nextEntry.theme !=
						defaultNav.currentEntry.theme
							? defaultNav.nextEntry.theme
							: undefined
					}
					next
					{useStaticImages}
				/>
			)}
		</div>
	)
}
{
	user && (
		<div
			data-spoiler-hidden
			hidden
			class="col-span-3 mt-12 grid grid-cols-2 items-center gap-x-4 gap-y-10 border-t border-slate-200 pt-10 font-serif"
		>
			{spoilerNav.currentEntry && spoilerNav.previousEntry && (
				<CardNavLink
					card={spoilerNav.previousEntry.card}
					user={user}
					isObscured={
						!userCardIds.has(
							Number(spoilerNav.previousEntry.card.cardId),
						)
					}
					themeTitle={
						spoilerNav.previousEntry.theme !=
						spoilerNav.currentEntry.theme
							? spoilerNav.previousEntry.theme
							: undefined
					}
					{useStaticImages}
				/>
			)}
			{spoilerNav.currentEntry && spoilerNav.nextEntry && (
				<CardNavLink
					card={spoilerNav.nextEntry.card}
					user={user}
					isObscured={
						!userCardIds.has(
							Number(spoilerNav.nextEntry.card.cardId),
						)
					}
					themeTitle={
						spoilerNav.nextEntry.theme !=
						spoilerNav.currentEntry.theme
							? spoilerNav.nextEntry.theme
							: undefined
					}
					next
					{useStaticImages}
				/>
			)}
		</div>
	)
}
